{% extends 'admin/master.html' %}
{% block body %}
<div class="row-fluid">
    <div class="accordion" id="accordion2">
        {% for minion in data %}
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{minion.split(':')[0]}}">
                    {{ minion }}
                </a>
            </div>
            <div id="{{minion.split(':')[0]}}" class="accordion-body collapse">
                <div class="accordion-inner">
                    {% for ret in data[minion] %}
                    <dl class="dl-horizontal">

                        <dt>{{ ret }}:</dt>
                        {% if ret == 'return' %}
                        <br>
                        <div><pre>{{ data[minion][ret] }}</pre></div>
                        {% else %}
                        <dd>{{ data[minion][ret] }}</dd>
                        {% endif %}
                        {% endfor %}
                    </dl>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <a class="btn btn-primary"
       href="{% if request.headers['Referer'] %}{{request.headers['Referer']}}{% else %}{% endif %}"><i
            class="icon-arrow-left icon-white"></i> 返回</a>
</div>
{% endblock %}